In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_csv(path): return pd.read_csv( path, sep = ',' )

In [9]:
# This dataset is a list of student attributes in a school, Hair, Eye, Sex
# and the Freq, or the total number of students with those attributes

path = "../../assets/HairEyeColor.csv" # relative path
df = read_csv(path) # calls read_csv function given path
df.head()

   Unnamed: 0   Hair    Eye   Sex  Freq
0           1  Black  Brown  Male    32
1           2  Brown  Brown  Male    53
2           3    Red  Brown  Male    10
3           4  Blond  Brown  Male     3
4           5  Black   Blue  Male    11

In [50]:
# What are the datatypes for the df?
df.dtypes

Hair    object
Eye     object
Sex     object
Freq     int64
dtype: object

In [74]:
# create a variable called columns that will have a list of all dataframe column namesc
#col= df.columns.variable()
columnNames=df.columns.values
columnNames

array(['Hair', 'Eye', 'Sex', 'Freq'], dtype=object)

In [20]:
# Drop the Column Named 'Unnamed: 0' from df
# Hint: If your column variable is a list, you can slice by index to access elements
df = df.drop('Unnamed: 0', 1)
df.head()

    Hair    Eye   Sex  Freq
0  Black  Brown  Male    32
1  Brown  Brown  Male    53
2    Red  Brown  Male    10
3  Blond  Brown  Male     3
4  Black   Blue  Male    11

In [67]:
# Show that the Column 'Unnamed: 0' has actually been removed
list1=df.columns.values

In [22]:
# Are there any null or empty values in df? 
df.isnull()

     Hair    Eye    Sex   Freq
0   False  False  False  False
1   False  False  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False  False  False
9   False  False  False  False
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False  False
15  False  False  False  False
16  False  False  False  False
17  False  False  False  False
18  False  False  False  False
19  False  False  False  False
20  False  False  False  False
21  False  False  False  False
22  False  False  False  False
23  False  False  False  False
24  False  False  False  False
25  False  False  False  False
26  False  False  False  False
27  False  False  False  False
28  False  False  False  False
29  False  False  False  False
30  False  False  False  False
31  False  False  False  False

In [23]:
# How many rows are in df? 
len(df)

32

In [24]:
# print the first 15 rows in df
df.head(15)

     Hair    Eye   Sex  Freq
0   Black  Brown  Male    32
1   Brown  Brown  Male    53
2     Red  Brown  Male    10
3   Blond  Brown  Male     3
4   Black   Blue  Male    11
5   Brown   Blue  Male    50
6     Red   Blue  Male    10
7   Blond   Blue  Male    30
8   Black  Hazel  Male    10
9   Brown  Hazel  Male    25
10    Red  Hazel  Male     7
11  Blond  Hazel  Male     5
12  Black  Green  Male     3
13  Brown  Green  Male    15
14    Red  Green  Male     7

In [38]:
# create a another dataframe called df1 that has the records of students with only black hair

# call this dataframe df1


df1=df[df['Hair'] == "Black"]
df1

     Hair    Eye     Sex  Freq
0   Black  Brown    Male    32
4   Black   Blue    Male    11
8   Black  Hazel    Male    10
12  Black  Green    Male     3
16  Black  Brown  Female    36
20  Black   Blue  Female     9
24  Black  Hazel  Female     5
28  Black  Green  Female     2

In [60]:
# create a another dataframe called df2
# df2 should have have records of students with black hair and brown eyes
# HINT:, retransform df1!

df2=df1[df1['Eye']=='Brown']
df2


# How many students have black eyes and brown hair? 



sum(df3['Freq'])

# HINT: Once you have df2, you can do a sum operation on any column of df2, including Freq

32

In [47]:
# create a another dataframe called df3
# df3 should have have records of male students with black hair and brown eyes
# HINT:, retransform df2!
df3=df2[df2['Sex']=='Male']
df3

# How many blackeyed, brown hair, male students are in the class?

    Hair    Eye   Sex  Freq
0  Black  Brown  Male    32

In [62]:
# create a another dataFrame called df4, that only filters df (NOT df1,df2,df3)
# to get the total number of male students with black hair, brown eyes.
# HINT: df4 = df[ (df.column1 == someVal1) & ..... & (df.columnN == someValN) ]
# You can put multiple conditions in a dataframe by enclosing each condition in parenthesis,
# and separating each consecutive condition with a '&' symbol.

# One you have d4, print the total number of male students with black hair, brown eyes
#df4= df[(df['Hair']=='Blakc')&(df['Eye']=='Brown')&(df['Sex']=='Male')]
#df4
df4=df[(df['Hair']=='Black') & (df['Eye'] == "Brown")& (df['Sex'] == "Male")]
df4

    Hair    Eye   Sex  Freq
0  Black  Brown  Male    32

In [78]:
# Answer the above question with a groupby and and a apply afterwards (using df)
# HINT: df.groupby( listOfColumnssToGroupBy ).apply(someFunctionThatWillSumFreq)

#df.groupby(columnNames[1:-1]).sum()

dfGroupBy=df.groupby(['Hair','Eye','Sex']).apply(
    lambda group: sum(group['Freq'])
)
dfGroupBy

Hair   Eye    Sex
Black  Blue   Female     9
              Male      11
       Brown  Female    36
              Male      32
       Green  Female     2
              Male       3
       Hazel  Female     5
              Male      10
Blond  Blue   Female    64
              Male      30
       Brown  Female     4
              Male       3
       Green  Female     8
              Male       8
       Hazel  Female     5
              Male       5
Brown  Blue   Female    34
              Male      50
       Brown  Female    66
              Male      53
       Green  Female    14
              Male      15
       Hazel  Female    29
              Male      25
Red    Blue   Female     7
              Male      10
       Brown  Female    16
              Male      10
       Green  Female     7
              Male       7
       Hazel  Female     7
              Male       7
dtype: int64

In [80]:
# using df (NOT df1,df2,df3,df4), replace all males with integer value of 1, 
# and all females to integer value of 0,
# replace the Sex Column with new Column, keep the same name 'Sex'
# hint. df['newCol'] = df.someColumn.apply(someFunction)
# print the first 20 rows of the new Column
def binGender(gender):
    if gender=='Male':
        return 1
    return 0

df['Sex']=df.Sex.apply(binGender)
print df.Sex.head(30)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
Name: Sex, dtype: int64

In [17]:
# using df (NOT df1,df2,df3,df4) create a new column called FreqPercent 
# FreqPercent will be the correspinding percentage of students 
# with those students attributes for that record
# HINT: someColumn = df.someColumn
# sumOfColumn = sum( someColumn )
# df['FreqPercent'] = someColumn.apply(someFunctionToGetFreqPercent)
# print the first 20 rows of this new column

In [18]:
# Ensure that the sum of all FreqPercent (our new column in df) is 100%