In [2]:
# import modules

import pandas as pd
import numpy as np

In [10]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [4]:
# select the preTestScore column
df['preTestScore']

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [5]:
# find the standard deviation of preTestScore 
np.std(df['preTestScore'])

12.221292893961751

In [7]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore

mean=np.mean(df['preTestScore'])

In [18]:
# select the rows in preTestScore with scores greater than the mean
highRows=[row for row in df['preTestScore'] if row>mean]
print highRows

[24, 31]

In [16]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
df ['difference']=df.postTestScore- df.preTestScore

df

    name  age  preTestScore  postTestScore  difference
0  Jason   42             4             25          21
1  Molly   52            24             94          70
2   Tina   36            31             57          26
3   Jake   24             2             62          60
4    Amy   73             3             70          67

In [25]:
def change_column_order(df, col_name, index):
    cols = df.columns.tolist()
    cols.remove(col_name)
    cols.insert(index, col_name)
    return df[cols]
df = change_column_order(df, 'difference', 0)

ValueError: list.remove(x): x not in list