In [15]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import urllib2

urlForLow = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l="


page_start_from = '&start='    

    
df1 = pd.DataFrame()   

 
for city in ('New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 'Austin%2C+TX',
            "Atlanta%2C+GA", "Los+Angeles%2C+CA", "Washington%2C+DC","Denver","Seattle","Austin","Dallas","San+Jose","Boston","Charlotte" ):
    for page in range(1,21): 
        page = (page-1) * 10  
        url = "%s%s%s%d" % (LINK, city, page_start_from, page) 
        r = requests.get(url)
        soup = BeautifulSoup(r.content) 

        results = soup.find_all("div", {'class' : ' row result'}) 
    
        for i in range(len(results)):
            title    = results[i].find ("a", {"class": "turnstileLink"}).get_text().strip()
            company  = results[i].find ("span", {"class": "company"}).get_text().strip()
            location = results[i].find ("span", {"class": "location"}).get_text().strip()
            summary  = results[i].find ("span", {"class": "summary"}).get_text().strip()        
            #salary = results[i].find ().get_text().strip()
        
            df1 = df1.append({"Company Name": company, "Job Title": title, "Location": location,
                            "Job Summary": summary}, ignore_index=True)

df1.head()

,Company Name,Job Summary,Job Title,Location
0,Memorial Sloan Kettering Cancer Center,"Working together with members in the group, th...",Bioinformatics Data Scientist - Cancer Genomic...,"New York, NY 10065 (Upper East Side area)"
1,eTemp,High growth company focused on using data scie...,Mid - Senior Level Data Scientist,"New York, NY"
2,Comcast,Visible World is the leading provider of targe...,Data Scientist,"New York, NY"
3,Samsung Accelerator,"Solid foundation in data structures, algorithm...",Machine Learning Engineer,"New York, NY"
4,DataKind,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY"

In [16]:
df1.shape

(2404, 4)

In [17]:
df1["Salary Class"]="High"

In [18]:
df1.head()

,Company Name,Job Summary,Job Title,Location,Salary Class
0,Memorial Sloan Kettering Cancer Center,"Working together with members in the group, th...",Bioinformatics Data Scientist - Cancer Genomic...,"New York, NY 10065 (Upper East Side area)",High
1,eTemp,High growth company focused on using data scie...,Mid - Senior Level Data Scientist,"New York, NY",High
2,Comcast,Visible World is the leading provider of targe...,Data Scientist,"New York, NY",High
3,Samsung Accelerator,"Solid foundation in data structures, algorithm...",Machine Learning Engineer,"New York, NY",High
4,DataKind,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY",High