In [8]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import urllib2

urlForHigh = "http://www.indeed.com/jobs?q=data+scientist+%24130%2C000&l="


page_start_fromH = '&start='    

    
df2 = pd.DataFrame()   

 
for city in ('New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 'Austin%2C+TX',
            "Atlanta%2C+GA", "Los+Angeles%2C+CA", "Washington%2C+DC","Denver","Seattle","Austin","Dallas","San+Jose","Boston","Charlotte" ):
    for page in range(1,50): 
        page = (page-1) * 10  
        urlH = "%s%s%s%d" % (urlForHigh, city, page_start_fromH, page) 
        r = requests.get(urlH)
        soupH = BeautifulSoup(r.content) 

        results = soupH.find_all("div", {'class' : ' row result'}) 
    
        for i in range(len(results)):
            title    = results[i].find ("a", {"class": "turnstileLink"}).get_text().strip()
            company  = results[i].find ("span", {"class": "company"}).get_text().strip()
            location = results[i].find ("span", {"class": "location"}).get_text().strip()
            summary  = results[i].find ("span", {"class": "summary"}).get_text().strip()        
            #salary = results[i].find ().get_text().strip()
        
            df2 = df2.append({"Company Name": company, "Job Title": title, "Location": location,
                            "Job Summary": summary}, ignore_index=True)

df2.head()

,Company Name,Job Summary,Job Title,Location
0,Illinois Technology Association,Grow our real-time internal data intelligence ...,GrubHub - Data Scientist,"New York, NY"
1,"Amazon Web Services, Inc.",Interested in creating new state-of-the-art so...,Data Scientist - NYC,"New York, NY"
2,FactSet,Should be a creative data scientist and be. Sc...,Data Scientist,"New York, NY 10279 (Financial District area)"
3,Hudson Data,Hudson Data is a data science solutions firm s...,Data Science Instructor,"New York, NY"
4,Komodo Health,Experience working with proprietary secondary ...,Data Scientist,"New York, NY"

In [9]:
df2.shape

(3876, 4)

In [12]:
df2["Salary Class"]='Low'

In [13]:
df2.head()

,Company Name,Job Summary,Job Title,Location,Salary Class
0,Illinois Technology Association,Grow our real-time internal data intelligence ...,GrubHub - Data Scientist,"New York, NY",Low
1,"Amazon Web Services, Inc.",Interested in creating new state-of-the-art so...,Data Scientist - NYC,"New York, NY",Low
2,FactSet,Should be a creative data scientist and be. Sc...,Data Scientist,"New York, NY 10279 (Financial District area)",Low
3,Hudson Data,Hudson Data is a data science solutions firm s...,Data Science Instructor,"New York, NY",Low
4,Komodo Health,Experience working with proprietary secondary ...,Data Scientist,"New York, NY",Low