In [4]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import urllib2
%matplotlib inline
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pylab as pl
import numpy as np
from sklearn import cross_validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors, datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [62]:
urlForHigh = "http://www.indeed.com/jobs?q=data+scientist+%24130%2C000&l="
urlForLow  = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l="
page_start_from = '&start='    


df1 = pd.DataFrame()    
df2 = pd.DataFrame()   

for city in ('New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 'Austin%2C+TX',
            "Atlanta%2C+GA", "Los+Angeles%2C+CA", "Washington%2C+DC","Denver","Seattle","Austin","Dallas","San+Jose","Boston","Charlotte" ):
    for page in range(1,21): 
        page = (page-1) * 10  
        urlL = "%s%s%s%d" % (urlForLow, city, page_start_from, page) 
        r = requests.get(urlL)
        soupL = BeautifulSoup(r.content) 

        results = soupL.find_all("div", {'class' : ' row result'}) 
    
        for i in range(len(results)):
            title    = results[i].find ("a", {"class": "turnstileLink"}).get_text().strip()
            company  = results[i].find ("span", {"class": "company"}).get_text().strip()
            location = results[i].find ("span", {"class": "location"}).get_text().strip()
            summary  = results[i].find ("span", {"class": "summary"}).get_text().strip()        
        
        
            df1 = df1.append({"Company Name": company, "Job Title": title, "Location": location,
                            "Job Summary": summary}, ignore_index=True)

    

for city in ('New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 'Austin%2C+TX',
            "Atlanta%2C+GA", "Los+Angeles%2C+CA", "Washington%2C+DC","Denver","Seattle","Austin","Dallas","San+Jose","Boston","Charlotte" ):
    for page in range(1,21): 
        page = (page-1) * 10  
        urlH = "%s%s%s%d" % (urlForHigh, city, page_start_from, page) 
        r = requests.get(urlH)
        soupH = BeautifulSoup(r.content) 

        results = soupH.find_all("div", {'class' : ' row result'}) 
    
        for i in range(len(results)):
            title    = results[i].find ("a", {"class": "turnstileLink"}).get_text().strip()
            company  = results[i].find ("span", {"class": "company"}).get_text().strip()
            location = results[i].find ("span", {"class": "location"}).get_text().strip()
            summary  = results[i].find ("span", {"class": "summary"}).get_text().strip()        
           
        
            df2 = df2.append({"Company Name": company, "Job Title": title, "Location": location,
                            "Job Summary": summary}, ignore_index=True)

KeyboardInterrupt:

In [ ]:
print df1.shape
print df2.shape

In [ ]:
df1["Salary Class"]="Low" 
df1["Class"]=0
df2["Salary Class"]='High'
df2["Class"]=1

In [ ]:
merged = pd.concat([df1,df2])

In [ ]:
df3=merged.drop_duplicates(["Company Name","Job Title","Location","Job Summary"],take_last=True)

In [2]:
df3.to_csv("data.csv", encoding='utf-8')

NameError: name 'df3' is not defined

In [12]:

data=pd.read_csv('data.csv')

In [13]:
del data['Unnamed: 0']

In [14]:
data

,Company Name,Job Summary,Job Title,Location,Salary Class,Class
0,Memorial Sloan Kettering Cancer Center,"Working together with members in the group, th...",Bioinformatics Data Scientist - Cancer Genomic...,"New York, NY 10065 (Upper East Side area)",Low,0
1,eTemp,High growth company focused on using data scie...,Mid - Senior Level Data Scientist,"New York, NY",Low,0
2,Comcast,Visible World is the leading provider of targe...,Data Scientist,"New York, NY",Low,0
3,Samsung Accelerator,"Solid foundation in data structures, algorithm...",Machine Learning Engineer,"New York, NY",Low,0
4,DataKind,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY",Low,0
5,Bloomberg,Bloomberg's Global Data division houses an inc...,Machine Learning Engineer,"New York, NY",Low,0
6,Crisis Text Line,Chief Data Scientist. The Data Scientist's rol...,Data Scientist,"New York, NY",Low,0
7,Paperless Post,Build production systems to collect and proces...,Data Scientist,"New York, NY",Low,0
8,DISH Network,A successful Data Scientist will have the foll...,Data Scientist,"New York, NY",Low,0
9,PlaceIQ,Data Scientists analyze PlaceIQ hyperlocal dat...,Data Scientist,"New York, NY",Low,0
10,Tapad,Tapad is looking for an experienced Data Scien...,Data Scientist,"New York, NY",Low,0
11,Google,Passionate people are everywhere at Google. In...,"Developer Programs Engineer, Machine Learning","New York, NY 10011 (Chelsea area)",Low,0
12,Lux Research,Analyst - Data Analytics and Artificial Intell...,Research Analyst - Data Analytics and Artifici...,"New York, NY",Low,0
13,Verizon,Research data to improve customer engagement. ...,Data Scientist,"New York, NY 10007 (Financial District area)",Low,0
14,Spotify,You have experience with a range of data scien...,Research Lead / Data Scientist,"New York, NY 10011 (Chelsea area)",Low,0
15,Datadog,You've written production data pipelines. Join...,Data Scientist (NYC),"New York, NY 10001 (Chelsea area)",Low,0
16,DBRS,"Lead Data Scientist, US RMBS. The Lead Data Sc...","Lead Data Scientist, US RMBS","New York, NY 10005 (Financial District area)",Low,0
17,x.ai,A Data Scientist will. Familiar with data stru...,Data Scientist,"New York, NY 10004 (Financial District area)",Low,0
18,Dia&Co,You are a data science Ph.D. Can write code fo...,Data Scientist,"New York, NY",Low,0
19,Career Path Group,Insurance Company is looking for a talented an...,Data Scientist and Analytics Developer - Insur...,"Manhattan, NY",Low,0
20,MLB Advanced Media,Undergraduate (Bachelors) degree with (3) year...,Senior Statistical Analyst,"New York, NY 10011 (Chelsea area)",Low,0
21,Celmatix,We seek a Senior Data Scientist with deep expe...,Senior Data Scientist,"New York, NY 10005 (Financial District area)",Low,0
22,AllianceBernstein,C onduct quantitative and statistical research...,AVP/Quantitative Analyst,"New York, NY 10105 (Midtown area)",Low,0
23,RangTech,"Web analytics, Data mining techniques applicat...",Data Scientist,"New York, NY",Low,0
24,ReWork,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY 10013 (Tribeca area)",Low,0
25,MLB Advanced Media,"As a Senior Data Scientist at MLBAM, you will ...",Senior Data Scientist,"New York, NY 10011 (Chelsea area)",Low,0
26,Aetna,Aetna�۪s Consumer Health Services Clinical Ana...,Lead Data Scientist,"New York, NY 10001 (Chelsea area)",Low,0
27,JPMorgan Chase,"Data Scientist - New York, NY. This includes a...",Digital Marketing ��� Sr. Data Scientist - New...,"New York, NY",Low,0
28,Tilting Point,The Data Scientist will also work to ensure ac...,Data Scientist,"New York, NY",Low,0
29,"Two Sigma Investments, LLC.","Two Sigma combines massive amounts of data, wo...",Quantitative Researcher in Machine Learning,"New York, NY",Low,0
...,...,...,...,...,...,...
2876,Staples,We apply engineering and data science to tough...,Sr. Software Engineer,"Framingham, MA",High,1
2877,Delphix,Knowledge of Data Masking technology. Expertis...,Senior Platform Systems Software Engineer,"Boston, MA",High,1
2878,Boston Fusion Corp.,Knowledge and understanding of natural languag...,Senior Research Scientist / Principle Investig...,"Lexington, MA 02421",High,1
2879,SHYFT Analytics,Facilitate internal cross-functional team of A...,"Director, Solution Launch Team","Waltham, MA 02453",High,1
2880,Amazon Corporate LLC,Experience with big data solutions. As the Man...,"Software Development Manager, Machine Learning...","Cambridge, MA",High,1
2881,Wayfair,Build detailed specifications and business req...,"Senior Product Manager, Marketing Ad Tech","Boston, MA",High,1
2882,Takeda Pharmaceuticals,Oversees non-medical clinical scientists with ...,"Medical Director, GI","Cambridge, MA 02139 (Area IV area)",High,1
2883,Takeda Pharmaceuticals,Provides guidance to clinical scientists who a...,"Medical Director, Clinical Development (Noro) ...","Cambridge, MA 02139 (Area IV area)",High,1
2884,Takeda Pharmaceuticals,Provides guidance to clinical scientists who a...,"Medical Director, Clinical Development (Dengue...","Cambridge, MA 02139 (Area IV area)",High,1
2885,AstraZeneca,Experience handling confidential patient data....,Associate Principal Scientist - Bioinformatics...,"Cambridge, MA",High,1
2886,Michael Page US,Experience with Data manipulation; The Senior ...,Senior Machine Learning Engineer,"Cambridge, MA",High,1
2887,Selby Jennings,Senior Equity Research Analyst The Client is a...,Senior Equity Research Analyst,"Boston, MA",High,1
2888,Execu | Search,Big Data and Data manipulation. Crunch samples...,Senior Machine Learning Engineer,"Marlborough, MA",High,1
2889,The Bivium Group,Jamie is a top ranked technical recruiter in B...,"Software Development Manager, 60-70 percent ha...","Boston, MA",High,1
2890,Workbridge Associates,"Located right in Longwood Medical Center, this...",Senior Full Stack Java Contractor (6 Months),"Boston, MA",High,1
2891,The Bivium Group,Small team (10-12) of software engineers and d...,Lead User Interface Developer - FinTech incuba...,"Boston, MA",High,1
2892,CashStar,Work with engineering team and data scientists...,"Director, Product Management - Risk Solutions","Waltham, MA 02451",High,1
2893,The Bivium Group,"Systems software, compilers, data structures. ...",Software Engineers (jr and sr) High Frequency ...,"Boston, MA",High,1
2894,Amazon Corporate LLC,Interested in Machine Learning? How about Amaz...,"Sr. Software Engineer / Architect - Cambridge,...","Cambridge, MA",High,1
2895,Amazon Corporate LLC,As a member of the Digital Products Machine Le...,"Sr. Software Engineer / Architect - Cambridge,...","Cambridge, MA",High,1
2896,Cardinal Health,Lead and mentor team of HEOR scientists and an...,Senior Director - Clinical Specialty-Health Ec...,"Peabody, MA 01960",High,1
2897,Epizyme,Data Protection / Security ��� You will take t...,"Associate Director / Director, IT Infrastructu...","Cambridge, MA 02139 (Area IV area)",High,1
2898,The Bivium Group,"We ask that applicants be local to the Boston,...","AI Engineer, Machine Learning, Speech Dialogue...","Cambridge, MA",High,1
2899,The Bivium Group,Jamie is a top ranked technical recruiter in B...,"Senior Software Engineer ��� C, Linux, Real-Ti...","Needham, MA",High,1
2900,Panjiva,"Fuzzy matching and clustering of data, at scal...",Data Scientist,"Cambridge, MA",High,1
2901,Panjiva,Panjiva is leveraging machine learning and oth...,Software Engineer - Front-end,"Cambridge, MA",High,1
2902,Blueprint,"Provide medical review, assessment and interpr...","Senior Director, Clinical Development","Cambridge, MA",High,1
2903,U.S. Bank,Senior Quantitative Analyst - 160022733 At U.S...,Senior Quantitative Analyst,"Charlotte, NC",High,1
2904,Seeking Alpha Search International,Working with data validation members and infor...,QUANTITATIVE MODEL VALIDATION ANALYST,"Charlotte, NC 28202 (Downtown Charlotte area)",High,1
2905,Seeking Alpha Search International,Working with data validation members and infor...,QUANTITATIVE INVESTMENT MODEL VALIDATION ANALYST,"Charlotte, NC 28202 (Downtown Charlotte area)",High,1

In [15]:
def binJob1(job):
    jobTitle = job.lower()
    if "data scientist" in jobTitle:
        return "Data scientist"
    elif "engineer" in jobTitle:
        return "Engineer"
    elif "marketing" in jobTitle:
        return "Marketing"
    elif "machine learning" in jobTitle:
        return "Machine learning"
    elif "software" in jobTitle:
        return "Software"
    elif "research" in jobTitle:
        return "Research"
    elif "consultant"in jobTitle:
        return "Consultant"
    elif "cyber" in jobTitle:
        return "Cyber"
    else:
        return "Other"
    
data["JobFunction"] = data["Job Title"].apply(binJob1)

In [16]:
def binJob2(job):
    jobTitle = job.lower()
    
    
    if ("sr" in jobTitle) | ("senior" in jobTitle):
        return 'Senior'
    elif "manager" in jobTitle:
        return "Manager"
    elif "principle" in jobTitle:
        return "Principle"
    elif "chief" in jobTitle:
        return "Chief"
    elif "lead" in jobTitle:
        return "Lead"
    elif "director"in jobTitle:
        return "Director"
    elif "entry" in jobTitle:
        return "Entry"
    elif "fellow" in jobTitle:
        return "Fellow"
    elif "assistant" in jobTitle:
        return "Assistant"
    else:
        return "Other"
    
data["JobSeniority"] = data["Job Title"].apply(binJob2)

In [17]:

def locationToRegion(location):
    if ("NY" in location)|("MA" in location)|("NJ" in location):
        return "Northeast"
    elif ("DC" in location)|("VA" in location)|("MD" in location):
        return "DMV"
    elif "CA"  in location:
        return "California"
    elif ("IL" in location)|("CO" in location):
        return "Central"
    elif "WA" in location:
        return "Northwest"
    elif "TX" in location:
        return "Texas"
    elif ("NC" in location)|("GA" in location):
        return "Southeast"
    else:
        return "Other"
_


data['region'] = data['Location'].apply(locationToRegion)

In [18]:
#del data["Data Scientist"]

In [19]:
dummy_jobFunction = pd.get_dummies(data['JobFunction'], prefix='JobFunction')
dummy_Seniority = pd.get_dummies(data['JobSeniority'], prefix='JobSeniority')
dummy_Region = pd.get_dummies(data['region'], prefix='Region')

In [20]:
data

,Company Name,Job Summary,Job Title,Location,Salary Class,Class,JobFunction,JobSeniority,region
0,Memorial Sloan Kettering Cancer Center,"Working together with members in the group, th...",Bioinformatics Data Scientist - Cancer Genomic...,"New York, NY 10065 (Upper East Side area)",Low,0,Data scientist,Other,Northeast
1,eTemp,High growth company focused on using data scie...,Mid - Senior Level Data Scientist,"New York, NY",Low,0,Data scientist,Senior,Northeast
2,Comcast,Visible World is the leading provider of targe...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
3,Samsung Accelerator,"Solid foundation in data structures, algorithm...",Machine Learning Engineer,"New York, NY",Low,0,Engineer,Other,Northeast
4,DataKind,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
5,Bloomberg,Bloomberg's Global Data division houses an inc...,Machine Learning Engineer,"New York, NY",Low,0,Engineer,Other,Northeast
6,Crisis Text Line,Chief Data Scientist. The Data Scientist's rol...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
7,Paperless Post,Build production systems to collect and proces...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
8,DISH Network,A successful Data Scientist will have the foll...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
9,PlaceIQ,Data Scientists analyze PlaceIQ hyperlocal dat...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
10,Tapad,Tapad is looking for an experienced Data Scien...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
11,Google,Passionate people are everywhere at Google. In...,"Developer Programs Engineer, Machine Learning","New York, NY 10011 (Chelsea area)",Low,0,Engineer,Other,Northeast
12,Lux Research,Analyst - Data Analytics and Artificial Intell...,Research Analyst - Data Analytics and Artifici...,"New York, NY",Low,0,Research,Other,Northeast
13,Verizon,Research data to improve customer engagement. ...,Data Scientist,"New York, NY 10007 (Financial District area)",Low,0,Data scientist,Other,Northeast
14,Spotify,You have experience with a range of data scien...,Research Lead / Data Scientist,"New York, NY 10011 (Chelsea area)",Low,0,Data scientist,Lead,Northeast
15,Datadog,You've written production data pipelines. Join...,Data Scientist (NYC),"New York, NY 10001 (Chelsea area)",Low,0,Data scientist,Other,Northeast
16,DBRS,"Lead Data Scientist, US RMBS. The Lead Data Sc...","Lead Data Scientist, US RMBS","New York, NY 10005 (Financial District area)",Low,0,Data scientist,Lead,Northeast
17,x.ai,A Data Scientist will. Familiar with data stru...,Data Scientist,"New York, NY 10004 (Financial District area)",Low,0,Data scientist,Other,Northeast
18,Dia&Co,You are a data science Ph.D. Can write code fo...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
19,Career Path Group,Insurance Company is looking for a talented an...,Data Scientist and Analytics Developer - Insur...,"Manhattan, NY",Low,0,Data scientist,Other,Northeast
20,MLB Advanced Media,Undergraduate (Bachelors) degree with (3) year...,Senior Statistical Analyst,"New York, NY 10011 (Chelsea area)",Low,0,Other,Senior,Northeast
21,Celmatix,We seek a Senior Data Scientist with deep expe...,Senior Data Scientist,"New York, NY 10005 (Financial District area)",Low,0,Data scientist,Senior,Northeast
22,AllianceBernstein,C onduct quantitative and statistical research...,AVP/Quantitative Analyst,"New York, NY 10105 (Midtown area)",Low,0,Other,Other,Northeast
23,RangTech,"Web analytics, Data mining techniques applicat...",Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
24,ReWork,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY 10013 (Tribeca area)",Low,0,Data scientist,Other,Northeast
25,MLB Advanced Media,"As a Senior Data Scientist at MLBAM, you will ...",Senior Data Scientist,"New York, NY 10011 (Chelsea area)",Low,0,Data scientist,Senior,Northeast
26,Aetna,Aetna�۪s Consumer Health Services Clinical Ana...,Lead Data Scientist,"New York, NY 10001 (Chelsea area)",Low,0,Data scientist,Lead,Northeast
27,JPMorgan Chase,"Data Scientist - New York, NY. This includes a...",Digital Marketing ��� Sr. Data Scientist - New...,"New York, NY",Low,0,Data scientist,Senior,Northeast
28,Tilting Point,The Data Scientist will also work to ensure ac...,Data Scientist,"New York, NY",Low,0,Data scientist,Other,Northeast
29,"Two Sigma Investments, LLC.","Two Sigma combines massive amounts of data, wo...",Quantitative Researcher in Machine Learning,"New York, NY",Low,0,Machine learning,Other,Northeast
...,...,...,...,...,...,...,...,...,...
2876,Staples,We apply engineering and data science to tough...,Sr. Software Engineer,"Framingham, MA",High,1,Engineer,Senior,Northeast
2877,Delphix,Knowledge of Data Masking technology. Expertis...,Senior Platform Systems Software Engineer,"Boston, MA",High,1,Engineer,Senior,Northeast
2878,Boston Fusion Corp.,Knowledge and understanding of natural languag...,Senior Research Scientist / Principle Investig...,"Lexington, MA 02421",High,1,Research,Senior,Northeast
2879,SHYFT Analytics,Facilitate internal cross-functional team of A...,"Director, Solution Launch Team","Waltham, MA 02453",High,1,Other,Director,Northeast
2880,Amazon Corporate LLC,Experience with big data solutions. As the Man...,"Software Development Manager, Machine Learning...","Cambridge, MA",High,1,Machine learning,Manager,Northeast
2881,Wayfair,Build detailed specifications and business req...,"Senior Product Manager, Marketing Ad Tech","Boston, MA",High,1,Marketing,Senior,Northeast
2882,Takeda Pharmaceuticals,Oversees non-medical clinical scientists with ...,"Medical Director, GI","Cambridge, MA 02139 (Area IV area)",High,1,Other,Director,Northeast
2883,Takeda Pharmaceuticals,Provides guidance to clinical scientists who a...,"Medical Director, Clinical Development (Noro) ...","Cambridge, MA 02139 (Area IV area)",High,1,Other,Director,Northeast
2884,Takeda Pharmaceuticals,Provides guidance to clinical scientists who a...,"Medical Director, Clinical Development (Dengue...","Cambridge, MA 02139 (Area IV area)",High,1,Other,Director,Northeast
2885,AstraZeneca,Experience handling confidential patient data....,Associate Principal Scientist - Bioinformatics...,"Cambridge, MA",High,1,Other,Lead,Northeast
2886,Michael Page US,Experience with Data manipulation; The Senior ...,Senior Machine Learning Engineer,"Cambridge, MA",High,1,Engineer,Senior,Northeast
2887,Selby Jennings,Senior Equity Research Analyst The Client is a...,Senior Equity Research Analyst,"Boston, MA",High,1,Research,Senior,Northeast
2888,Execu | Search,Big Data and Data manipulation. Crunch samples...,Senior Machine Learning Engineer,"Marlborough, MA",High,1,Engineer,Senior,Northeast
2889,The Bivium Group,Jamie is a top ranked technical recruiter in B...,"Software Development Manager, 60-70 percent ha...","Boston, MA",High,1,Software,Manager,Northeast
2890,Workbridge Associates,"Located right in Longwood Medical Center, this...",Senior Full Stack Java Contractor (6 Months),"Boston, MA",High,1,Other,Senior,Northeast
2891,The Bivium Group,Small team (10-12) of software engineers and d...,Lead User Interface Developer - FinTech incuba...,"Boston, MA",High,1,Other,Lead,Northeast
2892,CashStar,Work with engineering team and data scientists...,"Director, Product Management - Risk Solutions","Waltham, MA 02451",High,1,Other,Director,Northeast
2893,The Bivium Group,"Systems software, compilers, data structures. ...",Software Engineers (jr and sr) High Frequency ...,"Boston, MA",High,1,Engineer,Senior,Northeast
2894,Amazon Corporate LLC,Interested in Machine Learning? How about Amaz...,"Sr. Software Engineer / Architect - Cambridge,...","Cambridge, MA",High,1,Engineer,Senior,Northeast
2895,Amazon Corporate LLC,As a member of the Digital Products Machine Le...,"Sr. Software Engineer / Architect - Cambridge,...","Cambridge, MA",High,1,Engineer,Senior,Northeast
2896,Cardinal Health,Lead and mentor team of HEOR scientists and an...,Senior Director - Clinical Specialty-Health Ec...,"Peabody, MA 01960",High,1,Other,Senior,Northeast
2897,Epizyme,Data Protection / Security ��� You will take t...,"Associate Director / Director, IT Infrastructu...","Cambridge, MA 02139 (Area IV area)",High,1,Other,Director,Northeast
2898,The Bivium Group,"We ask that applicants be local to the Boston,...","AI Engineer, Machine Learning, Speech Dialogue...","Cambridge, MA",High,1,Engineer,Other,Northeast
2899,The Bivium Group,Jamie is a top ranked technical recruiter in B...,"Senior Software Engineer ��� C, Linux, Real-Ti...","Needham, MA",High,1,Engineer,Senior,Northeast
2900,Panjiva,"Fuzzy matching and clustering of data, at scal...",Data Scientist,"Cambridge, MA",High,1,Data scientist,Other,Northeast
2901,Panjiva,Panjiva is leveraging machine learning and oth...,Software Engineer - Front-end,"Cambridge, MA",High,1,Engineer,Other,Northeast
2902,Blueprint,"Provide medical review, assessment and interpr...","Senior Director, Clinical Development","Cambridge, MA",High,1,Other,Senior,Northeast
2903,U.S. Bank,Senior Quantitative Analyst - 160022733 At U.S...,Senior Quantitative Analyst,"Charlotte, NC",High,1,Other,Senior,Southeast
2904,Seeking Alpha Search International,Working with data validation members and infor...,QUANTITATIVE MODEL VALIDATION ANALYST,"Charlotte, NC 28202 (Downtown Charlotte area)",High,1,Other,Other,Southeast
2905,Seeking Alpha Search International,Working with data validation members and infor...,QUANTITATIVE INVESTMENT MODEL VALIDATION ANALYST,"Charlotte, NC 28202 (Downtown Charlotte area)",High,1,Other,Other,Southeast

In [21]:
cols_to_keep = ['Company Name', 'Job Summary', 'Job Title',"Location","Salary Class","Class"]
merge = data[cols_to_keep].join(dummy_jobFunction.ix[:,])
merge1=merge.join(dummy_Seniority.ix[:, ])
merged=merge1.join(dummy_Region.ix[:, ])

merged

,Company Name,Job Summary,Job Title,Location,Salary Class,Class,JobFunction_Consultant,JobFunction_Cyber,JobFunction_Data scientist,JobFunction_Engineer,...,JobSeniority_Principle,JobSeniority_Senior,Region_California,Region_Central,Region_DMV,Region_Northeast,Region_Northwest,Region_Other,Region_Southeast,Region_Texas
0,Memorial Sloan Kettering Cancer Center,"Working together with members in the group, th...",Bioinformatics Data Scientist - Cancer Genomic...,"New York, NY 10065 (Upper East Side area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,eTemp,High growth company focused on using data scie...,Mid - Senior Level Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,Comcast,Visible World is the leading provider of targe...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,Samsung Accelerator,"Solid foundation in data structures, algorithm...",Machine Learning Engineer,"New York, NY",Low,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,DataKind,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,Bloomberg,Bloomberg's Global Data division houses an inc...,Machine Learning Engineer,"New York, NY",Low,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,Crisis Text Line,Chief Data Scientist. The Data Scientist's rol...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,Paperless Post,Build production systems to collect and proces...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,DISH Network,A successful Data Scientist will have the foll...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,PlaceIQ,Data Scientists analyze PlaceIQ hyperlocal dat...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,Tapad,Tapad is looking for an experienced Data Scien...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,Google,Passionate people are everywhere at Google. In...,"Developer Programs Engineer, Machine Learning","New York, NY 10011 (Chelsea area)",Low,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,Lux Research,Analyst - Data Analytics and Artificial Intell...,Research Analyst - Data Analytics and Artifici...,"New York, NY",Low,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,Verizon,Research data to improve customer engagement. ...,Data Scientist,"New York, NY 10007 (Financial District area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,Spotify,You have experience with a range of data scien...,Research Lead / Data Scientist,"New York, NY 10011 (Chelsea area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,Datadog,You've written production data pipelines. Join...,Data Scientist (NYC),"New York, NY 10001 (Chelsea area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,DBRS,"Lead Data Scientist, US RMBS. The Lead Data Sc...","Lead Data Scientist, US RMBS","New York, NY 10005 (Financial District area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,x.ai,A Data Scientist will. Familiar with data stru...,Data Scientist,"New York, NY 10004 (Financial District area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,Dia&Co,You are a data science Ph.D. Can write code fo...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,Career Path Group,Insurance Company is looking for a talented an...,Data Scientist and Analytics Developer - Insur...,"Manhattan, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
20,MLB Advanced Media,Undergraduate (Bachelors) degree with (3) year...,Senior Statistical Analyst,"New York, NY 10011 (Chelsea area)",Low,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
21,Celmatix,We seek a Senior Data Scientist with deep expe...,Senior Data Scientist,"New York, NY 10005 (Financial District area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,AllianceBernstein,C onduct quantitative and statistical research...,AVP/Quantitative Analyst,"New York, NY 10105 (Midtown area)",Low,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23,RangTech,"Web analytics, Data mining techniques applicat...",Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,ReWork,A mid-career data scientist - You have a succe...,Data Scientist,"New York, NY 10013 (Tribeca area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25,MLB Advanced Media,"As a Senior Data Scientist at MLBAM, you will ...",Senior Data Scientist,"New York, NY 10011 (Chelsea area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
26,Aetna,Aetna�۪s Consumer Health Services Clinical Ana...,Lead Data Scientist,"New York, NY 10001 (Chelsea area)",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27,JPMorgan Chase,"Data Scientist - New York, NY. This includes a...",Digital Marketing ��� Sr. Data Scientist - New...,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
28,Tilting Point,The Data Scientist will also work to ensure ac...,Data Scientist,"New York, NY",Low,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,"Two Sigma Investments, LLC.","Two Sigma combines massive amounts of data, wo...",Quantitative Researcher in Machine Learning,"New York, NY",Low,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2876,Staples,We apply engineering and data science to tough...,Sr. Software Engineer,"Framingham, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2877,Delphix,Knowledge of Data Masking technology. Expertis...,Senior Platform Systems Software Engineer,"Boston, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2878,Boston Fusion Corp.,Knowledge and understanding of natural languag...,Senior Research Scientist / Principle Investig...,"Lexington, MA 02421",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2879,SHYFT Analytics,Facilitate internal cross-functional team of A...,"Director, Solution Launch Team","Waltham, MA 02453",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2880,Amazon Corporate LLC,Experience with big data solutions. As the Man...,"Software Development Manager, Machine Learning...","Cambridge, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2881,Wayfair,Build detailed specifications and business req...,"Senior Product Manager, Marketing Ad Tech","Boston, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2882,Takeda Pharmaceuticals,Oversees non-medical clinical scientists with ...,"Medical Director, GI","Cambridge, MA 02139 (Area IV area)",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2883,Takeda Pharmaceuticals,Provides guidance to clinical scientists who a...,"Medical Director, Clinical Development (Noro) ...","Cambridge, MA 02139 (Area IV area)",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2884,Takeda Pharmaceuticals,Provides guidance to clinical scientists who a...,"Medical Director, Clinical Development (Dengue...","Cambridge, MA 02139 (Area IV area)",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2885,AstraZeneca,Experience handling confidential patient data....,Associate Principal Scientist - Bioinformatics...,"Cambridge, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2886,Michael Page US,Experience with Data manipulation; The Senior ...,Senior Machine Learning Engineer,"Cambridge, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2887,Selby Jennings,Senior Equity Research Analyst The Client is a...,Senior Equity Research Analyst,"Boston, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2888,Execu | Search,Big Data and Data manipulation. Crunch samples...,Senior Machine Learning Engineer,"Marlborough, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2889,The Bivium Group,Jamie is a top ranked technical recruiter in B...,"Software Development Manager, 60-70 percent ha...","Boston, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2890,Workbridge Associates,"Located right in Longwood Medical Center, this...",Senior Full Stack Java Contractor (6 Months),"Boston, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2891,The Bivium Group,Small team (10-12) of software engineers and d...,Lead User Interface Developer - FinTech incuba...,"Boston, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2892,CashStar,Work with engineering team and data scientists...,"Director, Product Management - Risk Solutions","Waltham, MA 02451",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2893,The Bivium Group,"Systems software, compilers, data structures. ...",Software Engineers (jr and sr) High Frequency ...,"Boston, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2894,Amazon Corporate LLC,Interested in Machine Learning? How about Amaz...,"Sr. Software Engineer / Architect - Cambridge,...","Cambridge, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2895,Amazon Corporate LLC,As a member of the Digital Products Machine Le...,"Sr. Software Engineer / Architect - Cambridge,...","Cambridge, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2896,Cardinal Health,Lead and mentor team of HEOR scientists and an...,Senior Director - Clinical Specialty-Health Ec...,"Peabody, MA 01960",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2897,Epizyme,Data Protection / Security ��� You will take t...,"Associate Director / Director, IT Infrastructu...","Cambridge, MA 02139 (Area IV area)",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2898,The Bivium Group,"We ask that applicants be local to the Boston,...","AI Engineer, Machine Learning, Speech Dialogue...","Cambridge, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2899,The Bivium Group,Jamie is a top ranked technical recruiter in B...,"Senior Software Engineer ��� C, Linux, Real-Ti...","Needham, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2900,Panjiva,"Fuzzy matching and clustering of data, at scal...",Data Scientist,"Cambridge, MA",High,1,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2901,Panjiva,Panjiva is leveraging machine learning and oth...,Software Engineer - Front-end,"Cambridge, MA",High,1,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2902,Blueprint,"Provide medical review, assessment and interpr...","Senior Director, Clinical Development","Cambridge, MA",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2903,U.S. Bank,Senior Quantitative Analyst - 160022733 At U.S...,Senior Quantitative Analyst,"Charlotte, NC",High,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2904,Seeking Alpha Search International,Working with data validation members and infor...,QUANTITATIVE MODEL VALIDATION ANALYST,"Charlotte, NC 28202 (Downtown Charlotte area)",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2905,Seeking Alpha Search International,Working with data validation members and infor...,QUANTITATIVE INVESTMENT MODEL VALIDATION ANALYST,"Charlotte, NC 28202 (Downtown Charlotte area)",High,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
#Base case is set to be that a Senior Consultant at California. The intercept of this case is 1, which
#represents a high income. Since it't the base case, we need to drop these variables.

del merged["JobSeniority_Senior"]
del merged["Region_California"]
del merged["JobFunction_Consultant"]

In [23]:
merged['intercept'] = 1

In [24]:

train_cols = merged.columns[6:]   
logit = sm.Logit(merged['Class'], merged[train_cols])
result = logit.fit_regularized()

train_cols

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.502051960105
            Iterations: 187
            Function evaluations: 187
            Gradient evaluations: 187

Index([u'JobFunction_Cyber', u'JobFunction_Data scientist',
       u'JobFunction_Engineer', u'JobFunction_Machine learning',
       u'JobFunction_Marketing', u'JobFunction_Other', u'JobFunction_Research',
       u'JobFunction_Software', u'JobSeniority_Assistant',
       u'JobSeniority_Chief', u'JobSeniority_Director', u'JobSeniority_Entry',
       u'JobSeniority_Fellow', u'JobSeniority_Lead', u'JobSeniority_Manager',
       u'JobSeniority_Other', u'JobSeniority_Principle', u'Region_Central',
       u'Region_DMV', u'Region_Northeast', u'Region_Northwest',
       u'Region_Other', u'Region_Southeast', u'Region_Texas', u'intercept'],
      dtype='object')

In [25]:
print result.summary()

                           Logit Regression Results
==============================================================================
Dep. Variable:                  Class   No. Observations:                 2906
Model:                          Logit   Df Residuals:                     2881
Method:                           MLE   Df Model:                           24
Date:                Fri, 01 Jul 2016   Pseudo R-squ.:                  0.2176
Time:                        13:39:36   Log-Likelihood:                -1459.0
converged:                       True   LL-Null:                       -1864.8
                                        LLR p-value:                7.038e-156
================================================================================================
                                   coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------------
JobFunction_Cyber               25.0603   2.25e+05      0.000      1.000     -4.42e+05  4.42e+05
JobFunction_Data scientist       0.2624      0.553      0.475      0.635        -0.821     1.346
JobFunction_Engineer             1.2318      0.559      2.205      0.027         0.137     2.326
JobFunction_Machine learning     1.4001      0.614      2.281      0.023         0.197     2.603
JobFunction_Marketing           -0.2830      0.777     -0.364      0.716        -1.807     1.241
JobFunction_Other                0.4704      0.551      0.854      0.393        -0.610     1.550
JobFunction_Research            -0.8371      0.575     -1.456      0.146        -1.964     0.290
JobFunction_Software             1.7728      0.711      2.492      0.013         0.379     3.167
JobSeniority_Assistant         -38.5431   9.21e+07  -4.18e-07      1.000     -1.81e+08  1.81e+08
JobSeniority_Chief               2.8463      1.064      2.674      0.007         0.760     4.932
JobSeniority_Director            1.5104      0.288      5.243      0.000         0.946     2.075
JobSeniority_Entry             -37.4182   5.82e+07  -6.43e-07      1.000     -1.14e+08  1.14e+08
JobSeniority_Fellow             -2.3784      1.065     -2.234      0.026        -4.466    -0.291
JobSeniority_Lead                0.5220      0.252      2.070      0.038         0.028     1.016
JobSeniority_Manager             0.0352      0.220      0.160      0.873        -0.396     0.467
JobSeniority_Other              -1.1523      0.110    -10.516      0.000        -1.367    -0.938
JobSeniority_Principle          26.8552   5.15e+05   5.21e-05      1.000     -1.01e+06  1.01e+06
Region_Central                  -1.6059      0.169     -9.505      0.000        -1.937    -1.275
Region_DMV                      -0.6384      0.175     -3.657      0.000        -0.980    -0.296
Region_Northeast                 0.1595      0.120      1.334      0.182        -0.075     0.394
Region_Northwest                -0.2341      0.154     -1.515      0.130        -0.537     0.069
Region_Other                   -14.3452   1916.527     -0.007      0.994     -3770.669  3741.979
Region_Southeast                -2.0453      0.246     -8.316      0.000        -2.527    -1.563
Region_Texas                    -2.1355      0.197    -10.832      0.000        -2.522    -1.749
intercept                        0.1186      0.554      0.214      0.831        -0.967     1.204
================================================================================================

In [26]:
print np.exp(result.params)

JobFunction_Cyber               7.648275e+10
JobFunction_Data scientist      1.300040e+00
JobFunction_Engineer            3.427273e+00
JobFunction_Machine learning    4.055597e+00
JobFunction_Marketing           7.535040e-01
JobFunction_Other               1.600680e+00
JobFunction_Research            4.329614e-01
JobFunction_Software            5.887083e+00
JobSeniority_Assistant          1.823667e-17
JobSeniority_Chief              1.722384e+01
JobSeniority_Director           4.528568e+00
JobSeniority_Entry              5.616988e-17
JobSeniority_Fellow             9.269864e-02
JobSeniority_Lead               1.685396e+00
JobSeniority_Manager            1.035849e+00
JobSeniority_Other              3.159068e-01
JobSeniority_Principle          4.603045e+11
Region_Central                  2.006996e-01
Region_DMV                      5.281564e-01
Region_Northeast                1.172907e+00
Region_Northwest                7.913137e-01
Region_Other                    5.888006e-07
Region_Southeast                1.293412e-01
Region_Texas                    1.181812e-01
intercept                       1.125866e+00
dtype: float64

In [27]:
params = result.params
conf = result.conf_int()
conf['OR'] = params
conf.columns = ['2.5%', '97.5%', 'OR']
print np.exp(conf)

                                  2.5%       97.5%            OR
JobFunction_Cyber             0.000000         inf  7.648275e+10
JobFunction_Data scientist    0.440071    3.840526  1.300040e+00
JobFunction_Engineer          1.146913   10.241581  3.427273e+00
JobFunction_Machine learning  1.218028   13.503684  4.055597e+00
JobFunction_Marketing         0.164166    3.458508  7.535040e-01
JobFunction_Other             0.543620    4.713174  1.600680e+00
JobFunction_Research          0.140248    1.336599  4.329614e-01
JobFunction_Software          1.460186   23.735157  5.887083e+00
JobSeniority_Assistant        0.000000         inf  1.823667e-17
JobSeniority_Chief            2.138469  138.725696  1.722384e+01
JobSeniority_Director         2.574679    7.965238  4.528568e+00
JobSeniority_Entry            0.000000         inf  5.616988e-17
JobSeniority_Fellow           0.011499    0.747292  9.269864e-02
JobSeniority_Lead             1.028223    2.762591  1.685396e+00
JobSeniority_Manager          0.672831    1.594728  1.035849e+00
JobSeniority_Other            0.254853    0.391587  3.159068e-01
JobSeniority_Principle        0.000000         inf  4.603045e+11
Region_Central                0.144121    0.279491  2.006996e-01
Region_DMV                    0.375138    0.743592  5.281564e-01
Region_Northeast              0.927945    1.482537  1.172907e+00
Region_Northwest              0.584576    1.071165  7.913137e-01
Region_Other                  0.000000         inf  5.888006e-07
Region_Southeast              0.079869    0.209457  1.293412e-01
Region_Texas                  0.080304    0.173923  1.181812e-01
intercept                     0.380123    3.334642  1.125866e+00

In [28]:
train_cols = merged.columns[6:]

logit = sm.Logit(merged['Class'], merged[train_cols])
result = logit.fit_regularized()

result.summary()

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.502051960105
            Iterations: 187
            Function evaluations: 187
            Gradient evaluations: 187

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Class   No. Observations:                 2906
Model:                          Logit   Df Residuals:                     2881
Method:                           MLE   Df Model:                           24
Date:                Fri, 01 Jul 2016   Pseudo R-squ.:                  0.2176
Time:                        13:39:36   Log-Likelihood:                -1459.0
converged:                       True   LL-Null:                       -1864.8
                                        LLR p-value:                7.038e-156
================================================================================================
                                   coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------------
JobFunction_Cyber               25.0603   2.25e+05      0.000      1.000     -4.42e+05  4.42e+05
JobFunction_Data scientist       0.2624      0.553      0.475      0.635        -0.821     1.346
JobFunction_Engineer             1.2318      0.559      2.205      0.027         0.137     2.326
JobFunction_Machine learning     1.4001      0.614      2.281      0.023         0.197     2.603
JobFunction_Marketing           -0.2830      0.777     -0.364      0.716        -1.807     1.241
JobFunction_Other                0.4704      0.551      0.854      0.393        -0.610     1.550
JobFunction_Research            -0.8371      0.575     -1.456      0.146        -1.964     0.290
JobFunction_Software             1.7728      0.711      2.492      0.013         0.379     3.167
JobSeniority_Assistant         -38.5431   9.21e+07  -4.18e-07      1.000     -1.81e+08  1.81e+08
JobSeniority_Chief               2.8463      1.064      2.674      0.007         0.760     4.932
JobSeniority_Director            1.5104      0.288      5.243      0.000         0.946     2.075
JobSeniority_Entry             -37.4182   5.82e+07  -6.43e-07      1.000     -1.14e+08  1.14e+08
JobSeniority_Fellow             -2.3784      1.065     -2.234      0.026        -4.466    -0.291
JobSeniority_Lead                0.5220      0.252      2.070      0.038         0.028     1.016
JobSeniority_Manager             0.0352      0.220      0.160      0.873        -0.396     0.467
JobSeniority_Other              -1.1523      0.110    -10.516      0.000        -1.367    -0.938
JobSeniority_Principle          26.8552   5.15e+05   5.21e-05      1.000     -1.01e+06  1.01e+06
Region_Central                  -1.6059      0.169     -9.505      0.000        -1.937    -1.275
Region_DMV                      -0.6384      0.175     -3.657      0.000        -0.980    -0.296
Region_Northeast                 0.1595      0.120      1.334      0.182        -0.075     0.394
Region_Northwest                -0.2341      0.154     -1.515      0.130        -0.537     0.069
Region_Other                   -14.3452   1916.527     -0.007      0.994     -3770.669  3741.979
Region_Southeast                -2.0453      0.246     -8.316      0.000        -2.527    -1.563
Region_Texas                    -2.1355      0.197    -10.832      0.000        -2.522    -1.749
intercept                        0.1186      0.554      0.214      0.831        -0.967     1.204
================================================================================================
"""

In [39]:
from sklearn import linear_model, datasets
logreg = linear_model.LogisticRegression(C=1e5)
result2=logreg.fit(X, y)
result2

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [40]:
X=merged[train_cols]
y=merged["Class"]

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [46]:
X_test["actualHigh"] = y_test
X_test.head()
dfTrain = X_test

print dfTrain.columns

dfTrain['predictedHigh'] = result.predict( dfTrain[ dfTrain.columns[0:25] ] )

Index([u'JobFunction_Cyber', u'JobFunction_Data scientist',
       u'JobFunction_Engineer', u'JobFunction_Machine learning',
       u'JobFunction_Marketing', u'JobFunction_Other', u'JobFunction_Research',
       u'JobFunction_Software', u'JobSeniority_Assistant',
       u'JobSeniority_Chief', u'JobSeniority_Director', u'JobSeniority_Entry',
       u'JobSeniority_Fellow', u'JobSeniority_Lead', u'JobSeniority_Manager',
       u'JobSeniority_Other', u'JobSeniority_Principle', u'Region_Central',
       u'Region_DMV', u'Region_Northeast', u'Region_Northwest',
       u'Region_Other', u'Region_Southeast', u'Region_Texas', u'intercept',
       u'actualHigh'],
      dtype='object')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
def scalePredictor(prob, threshold):
    if( prob >= threshold ):
        return 1
    return 0

In [52]:
i = 0.20
while i <= 0.70:
    
    dfTrain[ 'predictedHigh_{}'.format(i) ] = dfTrain.predictedHigh.apply(
        lambda prob: scalePredictor(prob,i) )
    
    print pd.crosstab(
        dfTrain['actualHigh'],
        dfTrain['predictedHigh_{}'.format(i)], 
        rownames=['High']
    )
    i += 0.01

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

predictedHigh_0.2    0    1
High
0                  302  285
1                   32  253
predictedHigh_0.21    0    1
High
0                   302  285
1                    33  252
predictedHigh_0.22    0    1
High
0                   303  284
1                    34  251
predictedHigh_0.23    0    1
High
0                   307  280
1                    36  249
predictedHigh_0.24    0    1
High
0                   317  270
1                    39  246
predictedHigh_0.25    0    1
High
0                   317  270
1                    39  246
predictedHigh_0.26    0    1
High
0                   317  270
1                    39  246
predictedHigh_0.27    0    1
High
0                   343  244
1                    46  239
predictedHigh_0.28    0    1
High
0                   345  242
1                    49  236
predictedHigh_0.29    0    1
High
0                   345  242
1                    49  236
predictedHigh_0.3    0    1
High
0                  345  242
1                   49  236
predictedHigh_0.31    0    1
High
0                   345  242
1                    49  236
predictedHigh_0.32    0    1
High
0                   418  169
1                    78  207
predictedHigh_0.33    0    1
High
0                   419  168
1                    79  206
predictedHigh_0.34    0    1
High
0                   421  166
1                    80  205
predictedHigh_0.35    0    1
High
0                   421  166
1                    80  205
predictedHigh_0.36    0    1
High
0                   443  144
1                    95  190
predictedHigh_0.37    0    1
High
0                   480  107
1                   104  181
predictedHigh_0.38    0    1
High
0                   482  105
1                   104  181
predictedHigh_0.39    0    1
High
0                   482  105
1                   104  181
predictedHigh_0.4    0    1
High
0                  483  104
1                  107  178
predictedHigh_0.41    0    1
High
0                   506   81
1                   118  167
predictedHigh_0.42    0    1
High
0                   506   81
1                   118  167
predictedHigh_0.43    0    1
High
0                   506   81
1                   118  167
predictedHigh_0.44    0    1
High
0                   514   73
1                   122  163
predictedHigh_0.45    0    1
High
0                   514   73
1                   122  163
predictedHigh_0.46    0    1
High
0                   515   72
1                   122  163
predictedHigh_0.47    0    1
High
0                   515   72
1                   122  163
predictedHigh_0.48    0    1
High
0                   515   72
1                   122  163
predictedHigh_0.49    0    1
High
0                   516   71
1                   125  160
predictedHigh_0.5    0    1
High
0                  524   63
1                  127  158
predictedHigh_0.51    0    1
High
0                   524   63
1                   127  158
predictedHigh_0.52    0    1
High
0                   525   62
1                   127  158
predictedHigh_0.53    0    1
High
0                   525   62
1                   127  158
predictedHigh_0.54    0    1
High
0                   526   61
1                   132  153
predictedHigh_0.55    0    1
High
0                   531   56
1                   141  144
predictedHigh_0.56    0    1
High
0                   531   56
1                   141  144
predictedHigh_0.57    0    1
High
0                   531   56
1                   142  143
predictedHigh_0.58    0    1
High
0                   531   56
1                   142  143
predictedHigh_0.59    0    1
High
0                   537   50
1                   158  127
predictedHigh_0.6    0   1
High
0                  551  36
1                  186  99
predictedHigh_0.61    0   1
High
0                   552  35
1                   186  99
predictedHigh_0.62    0   1
High
0                   552  35
1                   186  99
predictedHigh_0.63    0   1
High
0                   556  31
1                   189  96
predictedHigh_0.64    0   1
High
0                   564  23
1                   194  91
predictedHigh_0.65    0   1
High
0                   569  18
1                   201  84
predictedHigh_0.66    0   1
High
0                   571  16
1                   205  80
predictedHigh_0.67    0   1
High
0                   572  15
1                   205  80
predictedHigh_0.68    0   1
High
0                   575  12
1                   216  69
predictedHigh_0.69    0   1
High
0                   577  10
1                   220  65

In [51]:
import numpy as np
from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm
from sklearn import metrics

scores =cross_validation.cross_val_score(model, X, y, cv=6)
print "Cross-validated Scores:", scores
# Make cross validated predictions
predictions = cross_validation.cross_val_predict(model, X, y, cv=6)
#plt.scatter(y, predictions)
accuracy = metrics.accuracy_score(y, predictions)
print "Cross-Predicted Accuracy:", accuracy

NameError: name 'model' is not defined